<!DOCTYPE html>
<html lang="en">
<head>
<title>schemes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

</head>
<body>
<center>
<div class="header">
  <h1>CREDIT CARD  Assessment</h1>
</div>
<div class="navbar">
    <a href="{{url_for('info')}}">home</a>
    <a href="{{url_for('man')}}">calculator</a>
   
    
  </div>
</center>
<p>Credit card transactions have become common place today and so is the frauds associated with it.
   One of the most common modus operandi to carry out fraud is to obtain the card information 
   illegally and use it to make online purchases. For credit card companies and merchants, 
   it is in-feasible to detect these fraudulent transactions among thousands of normal transactions.
    If sufficient data is collected and made available, machine learning algorithms can be applied to 
    solve this problem. In this work, popular supervised and unsupervised machine
  learning algorithms have been applied to detect credit card frauds in a highly imbalanced dataset.
   It was found that unsupervised machine learning algorithms can handle the skewness and give best classification results.
  </p>
<br>
<p>
  
</p>
<br><br>


<div class="footer">
  <center><h3>@copyrights <span style="color:brown"> Garuda Team 2023</span></h3>
  </center>  
</div>

</body>
</html>
